<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} Weather Conditions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>{{title}} Weather Conditions</h1>
    <p>{{ status }} and {{ temp }} &deg;</p>
     <p>Feels like {{ feels_like }} &deg;</p>
    <form action="/weather" method="post">
        <label for="city">City:</label>
        <input type="text" id="city" name="city" required>
        <button type="submit">Submit</button>
</body>
</html>